header
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 1200px;
    margin: auto;
    background-color: aliceblue;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgoldenrod;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 15px 0;
    margin: 0 20px;
    border-left: 1px solid white;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.active {
    color: #000;
}
nav ul li a:hover {
    color: black;
}

.search {
    margin-right: 20px;
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 30px;
}

.search button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: darkgoldenrod;
    color: white;
    border: 2px solid white;
    width: 100px;
    height: 30px;
}

.banner img {
    width: 100%;
    height: 300px;
}
hieu ung zoom
.content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 150px;
}

.content .item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.content .item img {
    width: 250px;
    height: 200px;
    margin: 10px 0;
}

/* hieu ung zoom anh */
.content .item img {
    display: block;
    transition: 0.3s;
}

.content .item img:hover {
    transform: scale(1.3);
}

hieu ung xoay tron
/* Định dạng ảnh */
        .rotating-image {
            width: 200px; /* Kích thước ảnh */
            height: 200px;
            animation: spin 3s linear infinite; /* Tạo animation */
        }

        /* Định nghĩa keyframes cho hiệu ứng xoay */
        @keyframes spin {
            0% {
                transform: rotate(0deg); /* Bắt đầu từ 0 độ */
            }
            100% {
                transform: rotate(720deg); /* Xoay 720 độ = 2 vòng */
            }
        }
